/* COLOUR PALETTE
$maya-blue: #5fbff9ff;
$magnolia: #efe9f4ff;
$dark-jungle-green: #171d1cff;
$neon-blue: #5863f8ff;
*/

h1 {
  text-align: center;
  font-size: 3em;
  font-family: 'Amatic SC', cursive;
}

span {
  margin: 0 0.3em;
}

.container {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 1%;
  width: 600px;
  height: 420px;
}

.ruler-body {
  position: absolute;
  width: 100%;
  height: 15%;
  top: 15%;
  background: linear-gradient(#5fbff9ff 0%, #efe9f4ff 40%, 70%, #5863f8ff 100%);
}

.cm-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 3%;
}

.cm {
  text-align: center;
  font-size: 80%;
  font-weight: bold;
  color: #171d1cff;
}

/* \007c for | pipe sign */
.cm::before{
  content: '\007c';
}

.cm-number-0::after,
.cm-number-1::after,
.cm-number-2::after,
.cm-number-3::after,
.cm-number-4::after,
.cm-number-5::after,
.cm-number-6::after,
.cm-number-7::after,
.cm-number-8::after,
.cm-number-9::after,
.cm-number-10::after {
  display: block;
}

.cm-number-0::after {
  content: '0';
}

.cm-number-1::after {
  content: '1';
}

.cm-number-2::after {
  content: '2';
}

.cm-number-3::after {
  content: '3';
}

.cm-number-4::after {
  content: '4';
}

.cm-number-5::after {
  content: '5';
}

.cm-number-6::after {
  content: '6';
}

.cm-number-7::after {
  content: '7';
}

.cm-number-8::after {
  content: '8';
}

.cm-number-9::after {
  content: '9';
}

.cm-number-10::after {
  content: '10';
}

@media all and (max-width: 600px) {

  .container {
    width: 250px;
    height: 175px;
  }
  
  h1 {
    font-size: 1.6em;
  }

  .cm {
    font-size: 50%;
    }
}