/* COLOUR PALETTE
$mustard: #D0A000ff;
$beige: #E8B401ff;
$light-brown: #CF9906ff;
$dark-brown: #7D6F0Bff;
*/

h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Amatic SC', cursive;
}

span {
    margin: 0 0.3em;
}

.container {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 1%;
    width: 600px;
    height: 420px;
}

.ruler-body {
  position: absolute;
  width: 80%;
  height: 20%;
  left: 10%;
  top: 15%;
  background: radial-gradient(#D0A000ff, #E8B401ff, #CF9906ff, #7D6F0Bff);
}

@media all and (max-width: 600px) {
  
    .container {
      width: 250px;
      height: 175px;
    }
    
    h1 {
      font-size: 1.6em;
    }
}