/* COLOUR PALETTE
$beige: #CD974D;
$dark-brown: #B48B46;
$yellow: #FEF26A;
*/

h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Amatic SC', cursive;
}

span {
    margin: 0 0.3em;
}

.container {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 1%;
    width: 600px;
    height: 420px;
}

.ruler-body {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 15%;
  background: linear-gradient(0deg, #B48B46, #CD974D, #FEF26A);
}

@media all and (max-width: 600px) {
  
    .container {
      width: 250px;
      height: 175px;
    }
    
    h1 {
      font-size: 1.6em;
    }
}