/* COLOURS: 
orangered #e63e00
light orange #f18439
*/

h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Amatic SC', cursive;
}

span {
    margin: 0 0.3em;
}

.container {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 1%;
    width: 600px;
    height: 420px;
    background: none;
}

.head {
	position: absolute;
	background: #e63e00;
	width: 35%;
	height: 50%;
	top: 10%;
	left: 30%;
	transform: rotate(45deg);
	border-radius: 11%;
	z-index: 1;
}

.head-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #e63e00;
	top: 0;
	left: 0;
	border-radius: 11%;
	z-index: 10;
}

 @media all and (max-width: 600px) {
    .container {
        position: relative;
        margin: auto;
        display: block;
        margin-top: 1%;
        width: 400px;
        height: 280px;
        background: none;
    }
}