/* COLOURS: 
orangered #e63e00
light orange #f18439
*/

h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Amatic SC', cursive;
}

span {
    margin: 0 0.3em;
}

.container {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 1%;
    width: 600px;
    height: 420px;
    background: none;
}

.head {
	position: absolute;
	background: #e63e00;
	width: 35%;
	height: 50%;
	top: 10%;
	left: 30%;
	transform: rotate(45deg);
	border-radius: 11%;
	z-index: 1;
}

.head-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #e63e00;
	top: 0;
	left: 0;
	border-radius: 11%;
	z-index: 10;
}

.left-ear,
.right-ear {
	position: absolute;
	width: 40%;
	height: 40%;
	background: #e63e00;
	border-radius: 7%;
}

.right-ear {
	top: -15%;
	left: 35%;
	transform: rotate(-53deg);
}

.inner-ear-left,
.inner-ear-right {
	position: absolute;
	width: 60%;
	height: 60%;
	background: #f18439;
	border-radius: 8%;
}

.inner-ear-right {
	transform: rotate(-12deg);
	top: 25%;
	left: 20%;
}

.left-ear {
	bottom: 25%;
	left: -15%;
	transform: rotate(53deg);
}

.inner-ear-left {
	top: 20%;
	left: 25%;
	transform: rotate(12deg);
}

.eyes {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: transparent;
    border-radius: 50%;
    box-shadow: 1px 4px 0 0 #000;
	z-index: 11;
}

.left-eye {
	top: 50%;
	left: 30%;
}

.right-eye {
	top: 30%;
	left: 50%;
	transform: rotate(-50deg);
}

.eyelashes {
	position: absolute;
	width: 10%;
	height: 40%;
	background: #000;
}

.eyelash-1 {
	border-radius: 0 100% 0 0;
	top: 80%;
	left: 2%;
	transform: rotate(180deg);
}

.eyelash-2 {
	border-radius: 0 100% 0 0;
	top: 95%;
	left: 25%;
	transform: rotate(170deg);
}

.eyelash-3 {
	border-radius: 0 100% 0 0;
	top: 100%;
	left: 50%;
	transform: rotate(160deg);
}

.eyelash-4 {
	border-radius: 0 100% 0 0;
	top: 95%;
	left: 75%;
	transform: rotate(150deg);
}

.eyelash-5 {
	border-radius: 0 100% 0 0;
	top: 75%;
	left: 100%;
	transform: rotate(150deg);
}

.eyelash-6 {
	border-radius: 0 0 100% 0;
	top: 50%;
	left: 110%;
	transform: rotate(-45deg);
}

.eyelash-7 {
	border-radius: 0 0 100% 0;
	top: 75%;
	left: 100%;
	transform: rotate(-45deg);
}

.eyelash-8 {
	border-radius: 0 0 100% 0;
	top: 90%;
	left: 80%;
	transform: rotate(-45deg);
}

.eyelash-9 {
	border-radius: 0 0 100% 0;
	top: 100%;
	left: 60%;
	transform: rotate(-35deg);
}

.eyelash-10 {
	position: absolute;
	width: 10%;
	height: 40%;
	border-radius: 0 0 100% 0;
	top: 100%;
	left: 30%;
	background: #000;
	transform: rotate(-20deg);
}

.nose {
	position: absolute;
	width: 20%;
	height: 20%;
	background: #000;
	bottom: -2%;
	right: -2%;
	z-index: 12;
	border-radius: 50%;
}

 @media all and (max-width: 600px) {
    .container {
        position: relative;
        margin: auto;
        display: block;
        margin-top: 1%;
        width: 400px;
        height: 280px;
        background: none;
    }
}