/* COLOURS: 
#000;
#F18439;
#362318
*/

  h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Amatic SC', cursive;
  }
  
  span {
    margin: 0 0.3em;
  }
  
  .container {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 1%;
    width: 600px;
    height: 420px;
    background: none;
  }
  
  .head {
    position: absolute;
    background: #F18439;
    width: 35%;
    height: 50%;
    top: 10%;
    left: 30%;
    transform: rotate(45deg);
    border-radius: 35%;
  }
  
  .left-ear,
  .right-ear {
    position: absolute;
    width: 0%;
    height: 0%;
  }
  
  .left-ear {
    border-top: 50px solid transparent;
    border-right: 60px solid #F18439;
    border-bottom: 30px solid transparent;
    border-left: 50px solid transparent;
    left: -50%;
    top: 30%;
  }
  
  .right-ear {
    border-top: 50px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid #F18439;
    border-left: 50px solid transparent;
    right: 30%;
    top: -50%;
  }
  
  .inner-ear-left {
    position: absolute;
    border-top: 20px solid transparent;
    border-right: 30px solid #362318;
    border-bottom: 10px solid transparent;
    border-left: 20px solid transparent;
    left: -25%;
    top: 44%;
    transform: rotate(5deg);
  }
  
  .inner-ear-right {
    position: absolute;
    border-top: 20px solid transparent;
    border-right: 30px solid #362318;
    border-bottom: 10px solid transparent;
    border-left: 20px solid transparent;
    left: 45%;
    top: -20%;
    transform: rotate(100deg);
  }
  
  .stripes,
  .stripe-one {
    position: absolute;
    width: 25%;
    height: 5%;
    background: #000;
    top: 17%;
    left: 5%;
    border-radius: 5px 100% 0 0;
    transform: rotate(35deg);
  }
  
  .stripe-two {
    width: 30%;
    top: 11%;
    left: 14%;
    transform: rotate(37deg);
    border-radius: 8px 100% 0 0;
  }
  
  .stripe-three {
    width: 25%;
    top: 70%;
    left: 1%;
    transform: rotate(-32deg);
  }
  
  .stripe-four {
    width: 36%;
    top: 78%;
    left: 9%;
    border-radius: 1px 100% 0 0;
    transform: rotate(-37deg);
  }
  
  .stripe-five {
    width: 36%;
    top: 25%;
    left:63%;
    border-radius: 3px 0 100% 0;
    transform: rotate(132deg);
  }
  
  .stripe-six {
    width: 25%;
    top: 11%;
    left: 60%;
    border-radius: 3px 20% 100% 0;
    transform: rotate(125deg);
  }
  
  .stripe-seven {
    width: 20%;
    top: 32%;
    left:83%;
    border-radius: 8px 0 100% 0;
    transform: rotate(132deg);
  }
  
  .stripe-eight {
    width: 20%;
    top: 90%;
    left: 25%;
    border-radius: 8px 100% 0 0;
    border-radius: 0 100% 0 8px;
    transform: rotate(-40deg);
  }
  
  .eyes {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 1px 4px 0 0 #000;
    transform: rotate(150deg);
  }
  
  .left-eye {
    top: 50%;
    left: 30%;
  }
  
  .right-eye {
    top: 30%;
    left: 50%;
  }
  
  .nose {
    position: absolute;
    width: 11%;
    height: 11%;
    top: 50%;
    left: 54%;
    background: #362318;
    border-radius: 3px 20% 100% 0;
    transform: rotate(180deg);
  }
  
  .nose-join {
    position: absolute;
    background: #362318;
    width: 1%;
    height: 10%;
    top: 59%;
    left: 67%;
    transform: rotate(-45deg);
  }
  
  .mouth {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 55%;
    left: 59%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 1px 4px 0 0 #362318;
    transform: rotate(-30deg);
  }
  
  
  
  @media all and (max-width: 600px) {
    .container {
      position: relative;
      margin: auto;
      display: block;
      margin-top: 1%;
      width: 400px;
      height: 280px;
      background: none;
    }
    
    h1 {
      font-size: 2em;
    }
    
    .left-ear {
      top: 12%;
    }
    
    .nose-join {
      position: absolute;
      background: #362318;
      width: 1%;
      height: 10%;
      top: 59%;
      left: 67%;
      }
    
    .mouth {
      top: 48%;
      left: 51%;
    }
    
    .inner-ear-left {
      border-top: 7px solid transparent;
      border-right: 14px solid #362318;
      border-bottom: 6px solid transparent;
      border-left: 9px solid transparent;
      left: -14%;
      top: 42%;
      transform: rotate(-5deg);
    }
  
    .inner-ear-right {
      border-top: 7px solid transparent;
      border-right: 14px solid #362318;
      border-bottom: 6px solid transparent;
      border-left: 9px solid transparent;
      left: 40%;
      top: -12%;
    }
  }
    
  