html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
	font-family: 'Amatic SC', cursive;
}

h1 {
	text-align: center;
	font-size: 3em;
}
  
span {
	margin: 0 0.3em;
}
	
.container {
	margin: auto;
	margin-top: 1%;
	width: 600px;
	height: 420px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

/*---------------- calendar ----------------*/

.hole-hanger {
	position: absolute;
	left: 48.5%;
	height: 4%;
	width: 3%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background: rgba(231, 231, 231, 0.8);
}

.hanger-1 {
	top: 1.5%;
}

.hanger-2 {
	bottom: 1.5%;
}

/*---------------- calendar image section ----------------*/
.calendar-image-section {
	position: relative;
	width: 50%;
	height: 50%;
	border: 0.5px #bbb solid;
	background: rgb(253,253,150);	
	background: linear-gradient(to top right, rgba(253,253,150,1) 29%, rgba(253,150,253,1) 55%, rgba(150,253,253,1) 100%);
}

h2 {
	color: blueviolet;
	font-size: 3em;
	text-align: center;
	margin-top: 3%;
}

.sun {
	position: absolute;
	right: 35%;
	top: 40%;
	width: 30%;
	height: 40%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background: #FFDA24;
}

.eye {
	position: absolute;
	top: 28%;
	background: #000;
	height: 6%;
	width: 6%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.left-eye {
  left: 30%;
}

.right-eye {
  right: 30%;
}

.smile {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 30%;
	left: 28%;
	background-color: transparent;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	box-shadow: 1px 3px 0 0 #000;
	transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
}

.sunray-long,
.sunray-short {
	position: absolute;
	width: 6%;
	background: #FFDA24;
}

.sunray-short {
	height: 25%;
}

.sunray-long {
	height: 45%;
}

.sunray-1,
.sunray-11 {
	top: -15%;
}

.sunray-2,
.sunray-10 {
	top: -8%;
}

.sunray-3,
.sunray-9 {
	top: 40%;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.sunray-4,
.sunray-8 {
	top: 62%;
}

.sunray-5,
.sunray-7 {
	bottom: -15%;
}

.sunray-6,
.sunray-12 {
	left: 45%;
}

.sunray-1 {
	right: 15%;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
}

.sunray-2 {
	right: -15%;
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
}

.sunray-3 {
	right: -14%;
}

.sunray-4 {
	right: -15%;
	transform: rotate(115deg);
	-webkit-transform: rotate(115deg);
	-moz-transform: rotate(115deg);
	-ms-transform: rotate(115deg);
	-o-transform: rotate(115deg);
}

.sunray-5 {
	right: 15%;
	transform: rotate(145deg);
	-webkit-transform: rotate(145deg);
	-moz-transform: rotate(145deg);
	-ms-transform: rotate(145deg);
	-o-transform: rotate(145deg);
}

.sunray-6 {
	top: 100%;
}

.sunray-7 {
	left: 15%;
	transform: rotate(-145deg);
	-webkit-transform: rotate(-145deg);
	-moz-transform: rotate(-145deg);
	-ms-transform: rotate(-145deg);
	-o-transform: rotate(-145deg);
}

.sunray-8 {
	left: -15%;
	transform: rotate(-115deg);
	-webkit-transform: rotate(-115deg);
	-moz-transform: rotate(-115deg);
	-ms-transform: rotate(-115deg);
	-o-transform: rotate(-115deg);
}

.sunray-9 {
	left: -14%;
}

.sunray-10 {
	left: -15%;
	transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
}

.sunray-11 {
	left: 15%;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
}

.sunray-12 {
	bottom: 100%;
}

/*---------------- calendar date section ----------------*/
.calendar-date-section {
	position: relative;
	width: 50%;
	height: 50%;
	border: 0.5px #bbb solid;
	background: rgb(253,253,150);	
	background: linear-gradient(to bottom right, rgba(253,253,150,1) 29%, rgba(253,150,253,1) 55%, rgba(150,253,253,1) 100%);

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.date-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-end;
	width: 95%;
	height: 90%;
}

.date-box {
	width: 12%;
	height: 15%;
	margin: 5px 4px;
	border: 1px #fbfbfa solid;
	position: relative;
}

.date {
 position: absolute;
 font-size: 0.6em;
 font-weight: bold;
}

.month {
	font-weight: bold;
	font-size: 1.5em;
	width: 100%;
	height: 10%;
	text-align: center;
}
  
@media all and (max-width: 600px) {

	.container {
			width: 250px;
			height: 175px;
	}

	h1 {
			font-size: 1.6em;
	}

	/* Date section */

	.date-container {
		margin-top: 4px;
	}

	.date-box {
		margin: 2px 2px;
	}

	.date {
		font-size: 0.3em;
	}

	.month {
		font-size: 0.7em;
	}

	/* Image section */

	h2 {
		font-size: 1.2em;
		margin-top: 3%;
	}

	.smile {
		width: 20px;
		height: 20px;
		top: 20%;
		left: 20%;
		box-shadow: 1px 2px 0 0 #000;
	}
}