html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
	font-family: 'Amatic SC', cursive;
}

h1 {
	text-align: center;
	font-size: 3em;
}
  
span {
	margin: 0 0.3em;
}
	
.container {
	margin: auto;
	margin-top: 1%;
	width: 600px;
	height: 420px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

/*---------------- calendar ----------------*/

.hole-hanger {
	position: absolute;
	left: 48.5%;
	height: 4%;
	width: 3%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background: rgba(231, 231, 231, 0.8);
}

.hanger-1 {
	top: 1.5%;
}

.hanger-2 {
	bottom: 1.5%;
}

/*---------------- calendar image section ----------------*/
.calendar-image-section {
	position: relative;
	width: 50%;
	height: 50%;
	border: 1px #bbb solid;
}

h2 {
	text-align: center;
}

.honeycomb {
	clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
	height: 12%;
	width: 10%;
}

.honeycomb-yellow {
	background: rgba(253,253,150,0.8);
	position: absolute;
	top: 1%;
	left: 10%;
}

.yellow-1 {
	top: 9%;
	left: 1%;
}

.yellow-2 {
	top: 15%;
	left: 10%;
}

.yellow-3 {
	top: 9%;
	left: 19%;
}

.yellow-4 {
	top: 23%;
	left: 1%;
}

.yellow-5 {
	top: 23%;
	left: 19%;
}

.yellow-6 {
	top: 29%;
	left: 10%;
}

.yellow-7 {
	top: 37%;
	left: 1%;
}

.honeycomb-pink {
	background: rgba(253,150,253,0.8);
	position: absolute;
	bottom: 1%;
	left: 1%;
}

.pink-1 {
	bottom: 15%;
	left: 1;
}

.pink-2 {
	bottom: 8%;
	left: 10%;
}

.pink-3 {
	bottom: 1%;
	left: 19%;
}

.pink-4 {
	bottom: 15%;
	left: 19%;
}

.pink-5 {
	bottom: 8%;
	left: 28%;
}

.pink-6 {
	bottom: 1%;
	left: 37%;
}

.honeycomb-blue {
	background: rgba(150,253,253,0.8);
	position: absolute;
	top: 1%;
	right: 1%;
}

.blue-1 {
	top: 15%;
	right: 1%;
}

.blue-2 {
	top: 8%;
	right: 10%;
}

.blue-3 {
	top: 22%;
	right: 10%;
}

.blue-4 {
	top: 29%;
	right: 1%;
}

.blue-5 {
	top: 36%;
	right: 10%;
}

.blue-6 {
	top: 15%;
	right: 19%;
}

/*---------------- calendar date section ----------------*/
.calendar-date-section {
	position: relative;
	width: 50%;
	height: 50%;
	border: 1px #bbb solid;
	background: rgb(253,253,150);	
	background: linear-gradient(to bottom right, rgba(253,253,150,1) 29%, rgba(253,150,253,1) 55%, rgba(150,253,253,1) 100%);

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.date-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-end;
	width: 95%;
	height: 90%;
}

.date-box {
	width: 12%;
	height: 15%;
	margin: 5px 4px;
	border: 1px #fbfbfa solid;
	position: relative;
}

.date {
 position: absolute;
 font-size: 0.6em;
 font-weight: bold;
}

.month {
	font-weight: bold;
	font-size: 1.5em;
	width: 100%;
	height: 10%;
	text-align: center;
}
  
@media all and (max-width: 600px) {

	.container {
			width: 250px;
			height: 175px;
	}

	h1 {
			font-size: 1.6em;
	}

	h2 {
		font-size: 1.1em;
	}

	.date-container {
		margin-top: 4px;
	}

	.date-box {
		margin: 2px 2px;
	}

	.date {
		font-size: 0.3em;
	}

	.month {
		font-size: 0.7em;
	}
}