body {
	font-family: 'Amatic SC', cursive;
}

h1 {
	text-align: center;
	font-size: 3em;
}
  
span {
	margin: 0 0.3em;
}
    
.container {
	position: relative;
	margin: auto;
	width: 600px;
	height: 420px;
}

.taco,
.taco-copy {
  position: absolute;
  background: radial-gradient(#D19A4D, #fad370);
  width: 50%;
  height: 40%;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  border-radius: 100% 100% 15% 15%;
  -webkit-border-radius: 100% 100% 15% 15%;
  -moz-border-radius: 100% 100% 15% 15%;
  -ms-border-radius: 100% 100% 15% 15%;
  -o-border-radius: 100% 100% 15% 15%;
  border: rgb(92, 92, 92) solid 1px;
  z-index: 10;
}

.taco-copy {
  top: 7%;
  left: 54%;
  z-index: 5;
}

@media all and (max-width: 600px) {

	.container {
		width: 250px;
		height: 175px;
	}

	h1 {
		font-size: 1.6em;
	}
}