body {
	font-family: 'Amatic SC', cursive;
	/* background: rgba(255, 25, 25, 0.9); */
}

h1 {
	text-align: center;
	font-size: 3em;
}
  
span {
	margin: 0 0.3em;
}
    
.container {
	position: relative;
	margin: auto;
	width: 600px;
	height: 420px;
	display: block;
}

.pizza-base {
	position: absolute;
	width: 70%;
	height: 100%;
	background: rgba(255, 179, 65, 0.7);
	top: 10%;
	left: 50%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
}

.tomato-sauce {
	position: absolute;
	width: 90%;
	height: 90%;
	background: rgba(165, 6, 6, 0.8);
	top: 5%;
	left: 5%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.mozzarella {
	position: absolute;
	width: 20%;
	height: 20%;
	background: rgb(265, 265, 265);
	top: 20%;
	left: 25%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.cheese-2 {
	width: 25%;
	height: 25%;
	top: 35%;
	left: 65%;
}

.cheese-3 {
	width: 30%;
	height: 30%;
	top: 55%;
	left: 50%;
}

.cheese-4 {
	top: 35%;
	left: 35%;
}

.cheese-5 {
	width: 15%;
	height: 15%;
	top: 15%;
	left: 60%;
}

.cheese-6 {
	width: 27%;
	height: 27%;
	top: 45%;
	left: 10%;
}

.basil {
	position: absolute;
	width: 12%;
	height: 12%;
	background: rgba(49, 156, 37, 0.8);
	top: 10%;
	left: 25%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-top-right-radius: 0;
}

@media all and (max-width: 600px) {

	.container {
				width: 250px;
				height: 175px;
	}

	h1 {
				font-size: 1.6em;
	}
}